@use "abstracts";
@use "components";
@use "./abstracts/media-query";

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
select,
input {
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;

  font-size: clamp(
    1rem,
    0.0836rem + 4.5821vi,
    1.8019rem
  ); // 16 - 28.83 max(600px vw)

  @include media-query.md {
    font-size: 16px;
  }
}
