@use "abstracts";
@use "components";

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;

  font-size: clamp(
    1rem,
    0.0836rem + 4.5821vi,
    1.8019rem
  ); // 16 - 28.83 max(600px vw)
}
