@use "../sass/abstracts/mixins" as mixin;

header {
  width: 100%;
  @include mixin.flex-column;
  position: fixed;
  z-index: 100;
}

main {
  width: 100%;
  overflow-x: hidden;
  @include mixin.flex-center-column;
  gap: 3.75rem;
}
