@use "../../../sass/abstracts/mixins";
@use "../../../sass/utilities/get-color";
@use "../../../sass/abstracts/media-query";

@use "../../../sass/animations/cards-rolling";
@use "../../../sass/animations/text";

.hero-section {
  width: 100%;
  position: relative;
  background-image: url("/images/pages/hero/background-banner-mb-2.webp");
  @include mixins.cover-background;
  @include mixins.main-padding(0);
  @include mixins.flex-center-column;
  gap: 5rem;

  &__text-button-wrapper {
    position: relative;
    z-index: 1;
    padding: 8.518rem 0 0 0;
    @include mixins.flex-center-column;
    gap: 0.5rem;
    h1 {
      animation: scrollUp 0.65s;

      @include mixins.font(Poppins, 2.025rem, 600, white, 135%);
      text-align: center;
      span {
        color: get-color.color("jellow", 500);
      }
    }
    p {
      animation: scrollUp 0.85s;

      @include mixins.font(Poppins, 1rem, 400, white);
      text-align: center;
    }

    button {
      animation: simpleOpacity 2.5s;
    }
  }
  .hero-section__images-card {
    position: relative;
    z-index: 1;
    margin-bottom: 6.5rem;

    border-radius: 0.5rem;

    @include mixins.flex-center;

    img {
      border-radius: 0.5rem;
    }

    img:nth-child(1),
    img:nth-child(3) {
      @include mixins.box(7.773rem, 12.39rem);
    }
    img:nth-child(2) {
      @include mixins.box(8.228rem, 13.116rem);

      box-shadow: 0 0 7.8px #ffff;

      position: absolute;
      z-index: 3;
    }

    img:nth-child(3).animate {
      animation: rollingPrevLeftCard 0.6s ease-in-out;
    }
    img:nth-child(2).animate {
      animation: rollingPrevRightCard 0.6s ease-in-out;
    }
    img:nth-child(1).animate {
      animation: rollingPrevMiddleCard 0.6s ease-in-out;
    }

    &.--box-shadow {
      box-shadow: 0 0 7.8px #ffff;
    }
  }

  > svg {
    width: 100vw;
    height: auto;
    position: absolute;
    bottom: -2px;
    z-index: 1;
  }
}

@include media-query.md {
  .hero-section {
    background-image: url("/images/pages/hero/background-banner-pc-2.webp");
    padding-top: 9.668rem;
    padding-bottom: 9.668rem;
    @include mixins.flex;
    gap: unset;

    &__text-button-wrapper {
      padding: 0;
      max-width: 19rem;
      align-items: flex-start;
      gap: unset;

      h1 {
        font-size: 1.424rem;
        text-align: unset;
      }

      p {
        font-size: 0.79rem;
        text-align: unset;
      }

      button {
        margin-top: 0.469rem;
      }
    }

    .hero-section__images-card {
      margin-bottom: 0;
    }

    > svg {
      left: 0;
      bottom: -3.125rem;
    }
  }
}

@include media-query.lg {
  .hero-section {
    padding-top: 11.078rem;
    padding-bottom: 12.188rem;

    &__text-button-wrapper {
      max-width: 21.25rem;

      h1 {
        font-size: 1.802rem;
      }

      p {
        font-size: 0.889rem;
      }

      button {
        margin-top: 0.625rem;
      }
    }

    .hero-section__images-card {
      img:nth-child(1),
      img:nth-child(3) {
        @include mixins.box(10rem, 15.941rem);
      }
      img:nth-child(2) {
        @include mixins.box(10.586rem, 16.875rem);
      }
    }
  }
}
