@use "../../../sass/abstracts/mixins";
@use "../../../sass/abstracts/media-query";
@use "../../../sass/utilities/get-color";

article {
  @include mixins.flex-column;
  gap: 0.5rem;

  h2 {
    @include mixins.font(
      Poppins,
      1.425rem,
      600,
      get-color.color("accent", 900),
      1.6
    );
  }

  > img {
    @include mixins.box(100%, 10.5rem);
    border-radius: 0.5rem;
    object-fit: cover;
    margin-bottom: 0.5rem;
  }

  p {
    @include mixins.font(
      Poppins,
      0.875rem,
      400,
      get-color.color("accent", 500),
      1.6
    );
  }
}

@include media-query.md {
  article {
    order: 2;
    h2 {
      font-size: 1.602rem;
    }

    > img {
      @include mixins.box(100%, 13.243rem);
    }

    p {
      font-size: 0.79rem;
    }
  }
}
