@use "../../../sass/abstracts/mixins";
@use "../../../sass/utilities/get-color";

.what-to-do__side-panel {
  border-top: 2px solid get-color.color("jellow", 500);
  h4 {
    margin-top: 0.5rem;
    @include mixins.font(
      Poppins,
      1rem,
      500,
      get-color.color("accent", 900),
      1.6
    );

    span {
      font-size: 1em;
      vertical-align: middle;
      margin: 0 0.25em;
      line-height: 0;
    }
  }

  &__links {
    @include mixins.flex($js: flex-start);
    gap: 0.5rem;
    margin-top: 0.25rem;
    a {
      font-size: 1rem;
      line-height: 0;
      svg {
        font-size: 1.65em;
        stroke-width: 0.1px;
      }
    }
  }
}
