@use "../../../sass/abstracts/mixins";
@use "../../../sass/abstracts/media-query";
@use "../../../sass/utilities/get-color";
@use "../../../sass/components/loaders";

.what-to-do {
  margin-top: 8.271rem;
  @include mixins.flex-column;
  @include mixins.main-padding(0);
  gap: 1.5rem;

  &__fallback-text {
    @include mixins.font(
      Poppins,
      1.269rem,
      600,
      get-color.color("danger", 500),
      1
    );

    text-align: center;

    span {
      svg {
        margin-top: 1.5em;
        @include mixins.box(5em);
      }
    }
  }
}

@include media-query.md {
  .what-to-do {
    width: 100%;
    margin-top: 5.93rem;
    flex-direction: row;
    gap: 0.688rem;

    &__fallback-text {
      width: 100%;
      font-size: 1.125rem;
    }
  }
}

@include media-query.lg {
  .what-to-do {
    margin-top: 6.6rem;
    gap: 0.938rem;

    &__fallback-text {
      font-size: 1.266rem;
    }
  }
}
