@use "../../../sass/abstracts/variables";
@use "../../../sass/abstracts/mixins";
@use "../../../sass/abstracts/media-query";
@use "../../../sass/utilities/get-color";
@use "../../../sass/abstracts/animations";

.what-to-do {
  margin-top: 5rem;
  @include mixins.flex-center-column;
  h1 {
    @include mixins.font(Poppins, 1.6rem, 600, get-color.color("accent", 900));
    margin-bottom: 4.5rem;
  }
  &__cards-map {
    max-width: 16rem;
    @include mixins.flex;

    position: relative;

    &__card {
      border-radius: 0.5rem;
      box-shadow: 0 0 9px 2px get-color.color("accent", 900);
      background-color: get-color.color("accent", 900);
      @include mixins.flex-center-column;
      gap: 1rem;
      overflow: hidden;

      transform-style: preserve-3d;
      transition: transform 0.6s ease-in-out;

      &.--visible {
        width: 11rem;
        margin-right: 5rem;
        z-index: 1;

        animation: flipIn 0.6s ease forwards;

        img {
          width: 100%;
          height: 5.75rem;
        }
      }

      &__text-button {
        @include mixins.flex-column;
        gap: 0.5rem;
        padding: 0.5rem 0.5rem 1.5rem 0.5rem;

        &__text-container {
          @include mixins.flex-column;
          gap: 0.5rem;

          h2 {
            @include mixins.font(
              Poppins,
              1rem,
              600,
              get-color.color("jellow", 100),
              9.4px
            );
          }

          p {
            @include mixins.font(
              Poppins,
              0.75rem,
              400,
              get-color.color("jellow", 100)
            );
          }
        }
      }

      &.--hidden {
        width: 9.375rem;
        height: 14rem;

        position: absolute;
        top: auto;
        right: 0;

        animation: flipOut 0.6s ease forwards;

        h2 {
          @include mixins.font(
            Poppins,
            3.625rem,
            600,
            get-color.color("jellow", 100)
          );
        }

        @include media-query.lg {
          position: static;
        }
      }
    }

    & > svg {
      width: 21.625rem;
      height: 23.75rem;

      position: absolute;
      top: -3.125rem;
      left: -3.5rem;
      z-index: -2;
    }
  }

  & > button {
    width: auto;
    margin-top: 3rem;
  }
}

@include media-query.md {
  .what-to-do {
    margin-top: 0;

    h1 {
      font-size: 1.266rem;
      margin-bottom: 6.25rem;
    }

    &__cards-map {
      max-width: unset;
      width: 14rem;

      &__card {
        gap: 0.375rem;

        &.--visible {
          width: 9.45rem;
          margin-right: unset;

          img {
            height: 4.75rem;
          }
        }

        &__text-button {
          gap: 0.469rem;
          padding: 0.469rem 0.469rem 1.469rem 0.469rem;

          &__text-container {
            gap: 0.469rem;

            h2 {
              font-size: 0.79rem;
            }

            p {
              font-size: 0.624rem;
            }
          }
        }

        &.--hidden {
          width: 8rem;
          height: 12rem;
          cursor: pointer;

          h2 {
            @include mixins.font(
              Poppins,
              3.625rem,
              600,
              get-color.color("jellow", 100)
            );
          }
        }
      }

      & > svg {
        width: 20rem;
        height: unset;

        top: -3.5rem;
      }
    }

    & > button {
      margin-top: 2rem;
    }
  }
}

@include media-query.lg {
  .what-to-do {
    h1 {
      font-size: 1.602rem;
      margin-bottom: 3.906rem;
    }

    &__cards-map {
      width: 37.383rem;

      &__card {
        gap: 0.5rem;

        &.--visible {
          width: 9.609rem;

          img {
            height: 5.313rem;
          }
        }

        &__text-button {
          gap: 0.625rem;
          padding: 0.625rem 0.625rem 1.25rem 0.625rem;

          &__text-container {
            gap: 0;

            h2 {
              font-size: 0.79rem;
              line-height: 160%;
            }

            p {
              font-size: 0.625rem;
            }
          }

          .--tex-icon-button.--sm {
            svg {
              width: 0.938rem;
              height: 0.938rem;
            }
          }
        }

        &.--hidden {
          width: 8.281rem;
          height: 11.58rem;

          h2 {
            font-size: 3.906rem;
          }
        }
      }

      & > svg {
        width: 17.109rem;
        left: -5rem;

        top: -2.063rem;
      }
    }

    & > button {
      margin-top: 1.563rem;
    }
  }
}
